.container {
  height: 400px;
  min-width: 500px;
}

.list {
  height: 100%;
  overflow-y: auto;
}

.total {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

@include desktop {
  .container {
    min-width: 300px;
  }
}

@include mobile {
  .container {
    min-width: 250px;
  }

}