.modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  z-index: -1;
}

.overlay {
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: #fff;
  transition: 0.3s transform;
  transform: scale(0.2);
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: 10;

  .content {
    transform: scale(1);
  }
}

.closing {
  opacity: 0;

  .content {
    transform: scale(0.2);
  }
}