.flex {
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  gap: 10px;
}

.title {
  margin: 0;
  width: 100%;
  white-space: nowrap
}

.input {
  max-width: 150px;
  height: 100%;
}

.image {
  min-width: 18px;
  width: 100%;
  height: 100%;
}

@include mobile {
  .input {
    max-width: 100px;
  }
}