.modal {
  position: absolute;
  top: 90px;
  right: 0;
  border: 1px solid #000;
  opacity: 0;
  background-color: #fff;
  z-index: -1;
  transition: .4s;
}

.opened {
  opacity: 1;
  z-index: 10;
}



.overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-color);
  transition: 0.4s;
}

.closing {
  opacity: 0;

  .overlay {
    background: #00000000;
  }
}

@include ipad {
  .modal {
    right: 30px;
    left: 30px;
    top: 180px;
  }
}

@include mobile {
  .modal {
    right: 0;
    left: 0;
    font: var(--font-m)
  }
}