.header {
  border-bottom: 1px solid black;
  height: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.breadCrumbs {
  margin-top: 10px;
}

.button {
  width: 240px;
  height: 80px;
  position: relative;
}

.price {
  position: absolute;
  bottom: 0;
  left: 1em;
}

.quantity {
  position: absolute;
  bottom: 0;
  right: 1em;
}

@include desktop {
  .header {
    padding: 20px 30px;
  }
}

@include ipad {
  .header {
    padding: 10px;
  }

  .flex {
    flex-direction: column;
  }
}