.header {
  border-bottom: 1px solid black;
  height: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.breadCrumbs {
  margin-top: 10px;
}

@include desktop {
  .header {
    padding: 20px 30px;
  }
}

@include ipad {
  .header {
    padding: 10px;
  }

  .flex {
    flex-direction: column;
  }
}