.header {
  border-bottom: 1px solid black;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

@include desktop {
  .header {
    padding: 0 30px;
  }
}

@include ipad {
  .header {
    padding: 0 10px;
    flex-direction: column;
  }
}