.link {
  color: #000;
  text-decoration: none;
  font: var(--font-l);
  border: 1px solid #000;
  transition: 0.2s;

  &:hover {
    background-color: #00000020;
  }
}

.image {
  width: 100%;
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
}