.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@include desktop {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include ipad {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}